*[b-c4xb0r71wc]{
    margin: 0;
    padding: 0;
}
header[b-c4xb0r71wc]{
    height: 100px;
    background-color: rgb(196, 231, 116);
}
footer[b-c4xb0r71wc]{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
}