@{
    ViewData["Title"] = "Add Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form class="form-group" method="post">
    <label>Image Link:</label> <br />
    <input type="text" name="Image"/> <br />
    <label>Name:</label><br />
    <input type="text" name="Name"/> <br />
    <label>Price:</label><br />
    <input type="text" name="Price"/> <br /><br />
    <button class="btn btn-primary">Add</button>
</form>